<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.insalyon.pyp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

     <activity android:name=".gui.login.LoginActivity"></activity>
     <activity android:name=".gui.login.RegisterActivity"></activity>
     <activity android:name=".gui.login.ForgotPasswordActivity"></activity>
     <activity android:name=".gui.login.ResetPasswordAfterRecoveryActivity"></activity>
     <activity android:name=".gui.account.AcountActivity"></activity>
     <activity android:name=".gui.account.SecurityActivity"></activity>
      <activity android:name=".gui.account.PersoanlInfoActivity"></activity>
      <activity android:name=".gui.account.IntrestActivity" >
        </activity>
     <activity android:name=".gui.main.MainActivity"
         	   android:label="@string/app_name"
               android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
