<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.insalyon.pyp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <permission
        android:name=".gui.main.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name=".gui.main.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        

     <activity android:name=".gui.login.LoginActivity"></activity>
     <activity android:name=".gui.login.RegisterActivity"></activity>
     <activity android:name=".gui.login.ForgotPasswordActivity"></activity>
     <activity android:name=".gui.login.ResetPasswordAfterRecoveryActivity"></activity>
     <activity android:name=".gui.account.AcountActivity"></activity>
     <activity android:name=".gui.account.SecurityActivity"></activity>
     <activity android:name=".gui.account.PersonalInfoActivity"></activity>
     <activity android:name=".gui.account.IntrestActivity" ></activity>
     <activity android:name=".gui.events.IntrestActivity"></activity>
     <activity android:name=".gui.events.ManagePersonalEvents"></activity>
     <activity android:name=".gui.events.GetEventDetailActivity"></activity>
     <activity android:name=".gui.events.CreateEventActivity"></activity>
     <activity android:name=".gui.events.EventActivity"></activity>
     <activity android:name=".gui.main.MainActivity"
         	   android:label="@string/app_name"
               android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     <activity android:name=".gui.events.GetPlacesActivity"></activity>
     <activity android:name=".gui.events.CreateLocalPlaceActivity"></activity>  
     
      <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBLHdzA-5F9DCllQbLmataclCyVp8MSXok" />
     
    </application>
</manifest>
